/* Wrapper for page content to push down footer */
#wrap {
	min-height:100%; height:auto !important; height:100%;
	margin:0 auto -40px; /* Negative indent footer by its height */
	padding:0 0 60px /* Pad bottom by footer height */
}

/* Set the fixed height of the footer here */
#footer {height:40px; padding-top:10px; border-top:#dddddd solid 1px; background:#fbfbfb}
#footer .container {width:100% !important; max-width:100% !important; padding:0 30px}
#footer p.copy {margin:0; font-size:14px; color:#7e878b; text-align:left}