body.login {padding:30px; background:#90342C !important}
.header-login {margin:0 auto; padding:30px}
.header-login div {margin:0 auto; padding-left:440px}

.form-signin {max-width:450px; padding:5px 15px; margin:0 auto; background:#90342C; -webkit-border-radius:10px}
.form-signin h3 {margin-bottom:15px; font-size:32px; text-align:center; color:white}
.form-signin a {color:#90342C}
.form-signin a:hover {text-decoration:underline}
/*.form-signin p {margin:0 !important; padding:0 !important; font-size:14px; text-align:left}
.first-signin p {margin-bottom:10px !important}*/
.form-signin .checkbox {margin-left:15px; color:#fff; font-weight:normal}
.form-signin .form-control {position:relative; width:100% !important; height:auto; padding:10px; font-size:16px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box}
.form-signin .form-control:focus {z-index:2}
.form-signin .form-group {margin-bottom:10px}
.form-signin .form-group input {margin-bottom:0px}
div.form-signin-btn .alert {display:none; margin:5px auto !important; padding:5px 15px; font-size:13px; border:0; background:transparent !important}
div.has-error .alert {display:block !important}
div.form-group .txt-has-error {display:none; font-size:14px}
div.has-error .txt-has-error {display:block !important}
.btn-login {color:#ffffff; background-color:#3c4e56; border-color:#3c4e56}
.btn-login:hover, .btn-login:focus, .btn-login:active {color:#ffffff; background-color:#686868; border-color:#686868}
.signin-text {color:#ffffff}